body {
    background: url(./hoop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

button{
	margin-top: 15px;
	width: 28%;
	height: 50px;
}

.container{
	text-align: center;
}

#title{
	margin-top: 25px;
}

.jumbotron{
	background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
	button{
		width: 50%;
		height: 50px;
	}



}