button{
	margin-top: 15px;
	margin-left: 25px;
	width: 80%;

}

/*<!-- <div class="col-lg-6">
                        <h3>Points: <span id="points">00</span></h3>
                        <h3>Shots Taken: <span id="shots">00</span></h3>
                        <h3>Free Throws: <span id="freeThrowPts">00</span>/<span id="missedFreeThrows">00</span></h3>
                        <h3>2pts Made: <span id="twoPoints">00</span></h3>
                        <h3>3pts Made: <span id="threePoints">00</span></h3>
                    </div> -->
                    <!-- <div class="col-lg-6">
                        <h3>Rebounds: <span id="rb">00</span></h3>
                        <h3>Steals: <span id="st">00</span></h3>
                        <h3>Blocks: <span id="bl">00</span></h3>
                        <h3>Assist: <span id="as">00</span></h3>
                        <h3>Fouls: <span id="fl">00</span></h3>
                    </div> -->*/